body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
align-items: center;
font-weight: 1000;
font-size: 30px;
padding-left:30px;
}

.footer{
  height: 72px;
  background: #bababa;
  color: darkmagenta;
display: flex;
justify-content: center;
align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
body{
  display:flex;
  flex-direction: column;
}
.web{
  display: flex;
  flex:1;
}
.content{
  display: flex;
  flex-wrap: wrap;

  gap:35px;
  padding:60px;
  
}
.card{
  flex-basis: 23%;
  padding:15px;
}
.sidebar{
  flex-shrink: 0;
  padding: 20px;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 0;
  margin:0;
}
li a{
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  gap:10px;
}
.icon{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width:60px;
}